---
layout: default
title: Photos
---
<style>
div.maintext { width: 95%; text-align: center }
div.maintext img { height: 180px; width:auto; }
</style>

<h2>SBK Photo Albums</h2>

{% assign pages_sorted = site.html_pages | sort: 'path' %}
{% for file in pages_sorted %}
  {% if file.path contains 'albums/' %}
    {% if file.path contains 'index.html' %}
      {% assign path_components = file.path | split: '/' %}
      {% assign album_title = path_components[1] %}
      <a href="/albums/{{ album_title | uri_escape }}/">
      <div style="float:left; text-align:center;">
      <img src="/albums/{{ album_title | uri_escape }}/thumbnail.jpg" /><br>
      {{ album_title }}
      </div>
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
