* {
  font-family:arial;
}
a{
  text-decoration:none;
}
.ban {
  text-align:center;
  font-size:40px;
}

.nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  border-radius:5px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:#7A991A;
  width:530px;
  margin-left:auto;
  margin-right:auto;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  color:#B2D9B2;
}

.nav a:hover {
//  background-color: #7A991A;
  background-color: white;
}

.maintext{
  //height:850px;
  width:500px;
  display:block;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
 // background-color:#DCAA79;
  background-color:#B2D9B2;
  padding:2px 15px;
}
