* {
  font-family:arial;
}
a {
  text-decoration:none;
}
.ban {
  text-align:center;
  font-size:40px;
  margin-top:10px;
  margin-bottom:0;
}
.subban {
  margin:4px;
  text-align:center;
  font-size:13px;
  color:#444;
}

.nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  border-radius:5px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:#7A991A;
  width:530px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  color:#B2D9B2;
}

.nav a:hover {
  background-color: white;
}

.subnav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.subnav li {
  display: inline;
}

.subnav a {
  border: 1px solid #ccc;
  border-width: 1px 0;
  border-radius:5px;
  background-color:#7A991A;
  margin: 5px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  color:#B2D9B2;
}

.subnav a:hover {
  background-color: white;
}

li a.active {
  border: 1px solid #131;
  background-color: #9f3;
  color: #171;
}

.maintext{
  width:500px;
  display:block;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
  background-color:#B2D9B2;
  padding:5px 15px;
}
#tools_list{
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

img {
  width:350px;
  border:3px solid #7A991A;
  color: #7A991A;
  box-shadow:4px 4px 4px black;
  margin:20px;
}

img.no-decoration {
  width:auto;
  border:none;
  box-shadow:none;
  margin:auto;
}

.event-list h3 {
  display: inline;
}

code {
  margin-left: 15px; font-family: monospace
}

pre {
  margin-left: 15px; font-family: monospace
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:10px;
  margin-bottom:10px;
}
th, td {
  border: 1px solid black;
  padding: 3px;
}

.footer {
  text-align: center;
  color: #888;
}

.footer ul {
  list-style:none;
  padding-left:0;
}

.footer li {
  display: inline;
  margin: 2px;
}

.footer a {
  text-decoration: underline;
  color: #222;
}

.footer a:hover {
  background-color: white;
}

h3#event_title {
  margin-bottom:0px;
  padding-bottom:0px;
}

p#event_description {
  margin-top:0px;
  padding-top:0px;
}

/* useful for visually separating things (vertically) */
div.separator {
  width:100%;
  height:2px;
  clear:both;
  margin-top:5px;
  margin-bottom:5px;
  background: -webkit-linear-gradient(left, rgba(0,50,0,0)     0%,
                                            rgba(0,50,0,0)    10%,
                                            rgba(0,50,0,0.85) 50%,
                                            rgba(0,50,0,0)    90%,
                                            rgba(0,50,0,0)   100%);
  background: linear-gradient(to right,     rgba(0,50,0,0)     0%,
                                            rgba(0,50,0,0)    10%,
                                            rgba(0,50,0,0.85) 50%,
                                            rgba(0,50,0,0)    90%,
                                            rgba(0,50,0,0)   100%);
}
