<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name="description"
        content="Somerville Bike Kitchen, a community bicycle repair cooperative">
  <title>Somerville Bike Kitchen{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel='stylesheet' href='/stylesheet.css' type='text/css' />
</head>
<body>
  <h2 class="ban">Somerville Bike Kitchen</h2>
  <h4 class="subban">339R Summer St, Somerville, MA</h4>
  <h4 class="subban">Open Shop: Tuesday & Thursday 6pm-9pm</h4>

  <ul class="nav">
    <li><a href="/">about</a></li>
    <li><a href="/events.html">events</a></li>
    <li><a href="/photos.html">photos</a></li>
    <li><a href="/contact.html">contact</a></li>
  </ul>

  <div class="maintext">
    <h3 id="event_title">{{ page.title }}</h3>
    {% if page.description %}<p id="event_description">{{ page.description }}</p>{% endif %}
    <p id="event_datetime">{{ page.datetime }}</p>
    {% if page.location %}<p id="event_location">{{ page.location }}</p>{% endif %}
    <p>---<p>
    {{ content }}
    <div style="clear:both"></div>
  </div>

  <div class="footer">
    <ul>
      <li><a href="/docs/staff.html">staff area</a></li> &bull;
      <li><a href="/files/index.html">files</a></li> &bull;
      <li><a href="/friends.html">our friends</a></li>
    </ul>
  </div>

</body>

</html>
